body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2, h3 {
    color: #FFCC66;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient( white, orange);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, red, orange, yellow);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #FD9B28;
}

.navbar-dark {
    background-color: #FD9B28;
}

.tab-content {
    border:1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5); /*the 0.5 sets the color to "half-transparent"*/
}

.carousel {
    border: solid #EC6314;
}

.fa {
    color: #fd6323;
}

.card-header{
    background-color: #EC6314;
}